<div class="wrapper-body">
  <div class="container container-content">
    <div class="wrapper-painter col-lg-4">
      <a href="#"> <img src="img/painter.png" alt="Юрій Дмитрович Герц"></a>
    </div>
    <div class="wrapper-info col-lg-8">
      <p>Народний художник України, лауреат Національної<br>
      премії імені Тараса Шевченка, лауреат обласної<br>
      премії імені Йосипа Бокшая та Адальберта Ерделі<br>
      <span>27.02.1931 - 15.09.2012 рр</span>
      </p>
    </div>
    <p class="privat">Приватна колекція живопису</p>
  </div>
</div>
<div class="wrapper-slider">
  <div class="bg-wrapper">
    <div class="container container-content">
      <div class="slider">
        <div class="items">
          <a href="#"><img src="img/items2.png" alt="paint"></a>
        </div>
        <div class="items">
          <a href="#"><img src="img/items3.png" alt="paint"></a>
        </div>
        <div class="items">
          <a href="#"><img src="img/items2.png" alt="paint"></a>
        </div>
        <div class="items">
          <a href="#"><img src="img/items3.png" alt="paint"></a>
        </div>
        <div class="items">
          <a href="#"><img src="img/items2.png" alt="paint"></a>
        </div>
      </div>
    </div>
  </div>
</div>
