<footer id="footer" class="wrapper footer">
  <div class="container container-content">
    <div class="top-nav col-lg-9">
      <a  class="phone" href="tel:+380673811434">+38 (067) 38 11 434</a>
      <a class="mail" href="mailto:kartina-art@ukr.net">kartina-art@ukr.net</a>
    </div>
    <div class="copiright col-lg-3 ">
      <p>© Всі права захищено. </p>
    </div>
  </div>
</footer>
