<header id="header" class="wrapper header">
  <div class="container container-content">
    <div class="top-nav">
      <a  class="phone" href="tel:+380673811434">+38 (067) 38 11 434</a>
      <a class="mail" href="mailto:kartina-art@ukr.net">kartina-art@ukr.net</a>
    </div>
    <div class="wrapper-logo clearfix">
      <div class="name col-lg-8">
        <h2>Юрій Дмитрович Герц</h2>
      </div>
    </div>
  </div>
</header>
<div class="wrapper-menu">
  <div class="border-wrapper">
    <div class="container container-content">
      <nav class="navbar navbar-default my-menu">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse clearfix new-menuwrap" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav menu">
              <li><a href="#">Головна</a></li>
              <li><a href="#">Біографія</a></li>
              <li><a href="#">Галерея</a></li>
              <li><a href="#">Контакти</a></li>
            </ul>
            <div class="logo col-lg-4">
              <img src="img/logo.png" alt="logo">
            </div>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</div>
