.wrapper-body{
  margin-bottom: 70px;
  .container-content{
    .wrapper-painter{
      padding-left: 0px;
    }
    .wrapper-info{
      border-top: 1px solid #613213;
      border-bottom: 1px solid #613213;
      margin-bottom: 40px;
      margin-top: 80px;
      p{
        padding: 41px 0;
        color: #613213;
        font-family: 'Gabriola';
        font-size: 42px;
        line-height: 47px;
        span{
          padding-top: 12px;
          font-family: 'Exo2-Light';
          font-size: 17px;
          line-height: 17px;
          color: #949494;
          text-align: center;
          display: block;
        }
      }
    }
    .privat{
      color: #2e2e2e;
      font-size: 40px;
      line-height: 40px;
      font-family: 'Gabriola';
      text-align: center;
    }
  }
}
.slick-dots li button:before{
  font-size: 36px!important;
  color: #613213!important;
}
.wrapper-slider{
  background: #ffe0c1;

}
.bg-wrapper{
  background: url('../img/bg-new.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 40px;
}
